<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>Covid-19</title>
</head>
<body>
    <div>
        <h1>「プロジェクト名」へようこそ！</h1>
        <p>弊サイトでは<a href="https://scholar.google.co.jp/schhp?hl=ja">Google scholar</a>に掲載されている論文が簡単に検索できます！</p>
        <p>検索したいキーワードを記入してください。関連する論文が出てきます kevin</p>
        <form action="{{url_for('search')}}", method="post">
            <input type="text" name="word">
        </form>
    </div>
</body>

1807行目
@media screen and (max-width: 980px) {

    header br {
        display: none;
    }
